
.keen-slider{
  width: 100% !important;
  height: fit-content !important;
}
  [class^="number-slide"],
  [class*=" number-slide"] {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 500;
    border-radius: 20px;
    padding: 15px;
    backdrop-filter: blur(10px);
  }
  
  .number-slide1 {
    background: linear-gradient(
      128deg,
      rgba(64, 175, 255, 0.247) 0%,
      rgba(63, 98, 255, 0.247) 100%
    );
    
  }
  
  .number-slide2 {
    background: rgb(255, 75, 64);
    background: linear-gradient(
      128deg,
      rgba(255, 153, 63, 0.247) 0%,
      rgba(255, 75, 64, 0.247) 100%
    );
  }
  
  .number-slide3 {
    background: rgb(182, 255, 64);
    background: linear-gradient(
      128deg,
      rgba(182, 255, 64, 0.247) 0%,
      rgba(63, 255, 71, 0.247) 100%
    );
    background: linear-gradient(
      128deg,
      rgba(189, 255, 83, 0.247) 0%,
      rgba(43, 250, 82, 0.247) 100%
    );
  }
  
  .number-slide4 {
    background: rgb(64, 255, 242);
    background: linear-gradient(
      128deg,
      rgba(64, 255, 242, 0.247) 0%,
      rgba(63, 188, 255, 0.247) 100%
    );
  }
  
  .number-slide5 {
    background: rgb(255, 64, 156);
    background: linear-gradient(
      128deg,
      rgba(255, 64, 156, 0.247) 0%,
      rgba(255, 63, 63, 0.247) 100%
    );
  }
  .number-slide6 {
    background: rgb(64, 76, 255);
    background: linear-gradient(
      128deg,
      rgba(64, 76, 255, 0.247) 0%,
      rgba(174, 63, 255, 0.247) 100%
    );
  }
  .keen-slider {
    overflow: hidden;
  }
  
  .keen-slider__slide {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .keen-slider__slide {
      width: 50%;
    }
  }
  
  @media (min-width: 1200px) {
    .keen-slider__slide {
      width: 33.33%;
    }
  }
    